li {
    width: 100%;
    color: rgb(50, 50, 50);
    line-height: 30px;
    height: 30px;
    background: rgb(230, 230, 230);
}

li .done {
    color: rgb(28.4%, 73%, 28.4%);
}

/*li:first-child {
    border-radius: 3px 3px 0px 0px;
}*/

li input[type=checkbox] {
    margin-left: 10px;
    margin-top: 8px;
    float: left;
}

li button {
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}